/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 0%, 0.98);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  background-color: hsl(0, 0%, 11%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.logo img {
  position: relative;
  left: -80px;
  width: 200px;
}

.container {
  width: min(1100px, 90%);
  margin: auto;
}

.header-content {
  max-height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-position {
  flex: 1;
}

.site-header {
  background-color: hsl(0, 0%, 11%);
  padding: 30px;
}
.hero-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
